node_modules/
.env
log.txt

# ██████╗░░█████╗░  ███╗░░██╗░█████╗░████████╗  ░█████╗░██████╗░██████╗░  ████████╗██╗░░██╗███████╗
# ██╔══██╗██╔══██╗  ████╗░██║██╔══██╗╚══██╔══╝  ██╔══██╗██╔══██╗██╔══██╗  ╚══██╔══╝██║░░██║██╔════╝
# ██║░░██║██║░░██║  ██╔██╗██║██║░░██║░░░██║░░░  ███████║██║░░██║██║░░██║  ░░░██║░░░███████║█████╗░░
# ██║░░██║██║░░██║  ██║╚████║██║░░██║░░░██║░░░  ██╔══██║██║░░██║██║░░██║  ░░░██║░░░██╔══██║██╔══╝░░
# ██████╔╝╚█████╔╝  ██║░╚███║╚█████╔╝░░░██║░░░  ██║░░██║██████╔╝██████╔╝  ░░░██║░░░██║░░██║███████╗
# ╚═════╝░░╚════╝░  ╚═╝░░╚══╝░╚════╝░░░░╚═╝░░░  ╚═╝░░╚═╝╚═════╝░╚═════╝░  ░░░╚═╝░░░╚═╝░░╚═╝╚══════╝

# ██████╗░██╗░░░██╗██╗██╗░░░░░██████╗░  ███████╗░█████╗░██╗░░░░░██████╗░███████╗██████╗░
# ██╔══██╗██║░░░██║██║██║░░░░░██╔══██╗  ██╔════╝██╔══██╗██║░░░░░██╔══██╗██╔════╝██╔══██╗
# ██████╦╝██║░░░██║██║██║░░░░░██║░░██║  █████╗░░██║░░██║██║░░░░░██║░░██║█████╗░░██████╔╝
# ██╔══██╗██║░░░██║██║██║░░░░░██║░░██║  ██╔══╝░░██║░░██║██║░░░░░██║░░██║██╔══╝░░██╔══██╗
# ██████╦╝╚██████╔╝██║███████╗██████╔╝  ██║░░░░░╚█████╔╝███████╗██████╔╝███████╗██║░░██║
# ╚═════╝░░╚═════╝░╚═╝╚══════╝╚═════╝░  ╚═╝░░░░░░╚════╝░╚══════╝╚═════╝░╚══════╝╚═╝░░╚═╝
# it scares sam